[Unit]
Description=logs for servicewall

[Service]
#ExecStart=/bin/cat /dev/ulog
StandardInput=socket
ExecStart=/bin/cat
ExecReload=/usr/bin/kill --signal HUP ${MAINPID}

[Install]
WantedBy=multi-user.target

